{% extends 'users/layout.html' %}
{% block body %}

<div class="container mt-5" style="max-width: 700px;">

  <!-- กล่องหัวข้อ -->
  <div class="alert alert-info text-center">
    <h2 class="mb-0">Room List</h2>
  </div>

  <!-- รายการห้อง -->
  <div class="card shadow-sm">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for room in allroom %}
          <li class="list-group-item">
            <a href="{% url 'selectroom' room.room_code %} ">
              <strong>Room {{ room.room_code }}</strong>: {{ room.room_name }}<br>            
            </a>
            <p>
              Hours available: {{ room.available_hours }} |
              Capacity : {{ room.room_capacity }} |
              State: {% if room.is_availabe %} Open {% else %} Closed {% endif %}
            </p>
          </li>
        {% empty %}
          <li class="list-group-item text-muted text-center">No Room</li>
        {% endfor %}
      </ul>
      <a href="{% url 'home' %}" class="btn btn-success">Return Home</a>
    </div>
  </div>

</div>

{% endblock %}
