{% extends 'users/layout.html' %}
{% block body %}
<h1>Room {{ room.code }}</h1>

<ul>
    <li>Name: {{ room.name }}</li>
    <li>Capacity: {{room.capacity}}</li>
    <li>State: {{ room.room_state }}</li>
</ul>

<h2>Booking</h2>
<form action="{% url 'booking' room.code %}" method="POST">
    {% csrf_token %}
    <select name="guest">
        {% for guest in non_guest %}
        <option value="{{ guest.id }}">{{ guest }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Booking">
</form>

<a href="{% url 'available' %}">Back to Room List</a>

{% endblock %}